doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    // Latest compiled and minified CSS
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')
    // jQuery library
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    // Popper JS
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
    // Latest compiled JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js')

  body
    nav
        if (!user)
            a(href='/login') Login 
            | | 
            a(href='/register') Register
            | | 
            a(href='/users') Users
        else
            a(href='/logout') Logout
            | | 
            a(href='/users') Users
    block content